<!DOCTYPE HTML>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="renderer" content="webkit|ie-comp|ie-stand">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
		<meta http-equiv="Cache-Control" content="no-siteapp" />
		<!--[if lt IE 9]>
<script type="text/javascript" src="lib/html5shiv.js"></script>
<script type="text/javascript" src="lib/respond.min.js"></script>
<![endif]-->
		<link rel="stylesheet" type="text/css" href="../../hui/static/h-ui/css/H-ui.min.css" />
		<link rel="stylesheet" type="text/css" href="../../hui/lib/Hui-iconfont/1.0.8/iconfont.min.css" />
		<!--[if lt IE 9]>
<link href="static/h-ui/css/H-ui.ie.css" rel="stylesheet" type="text/css" />
<![endif]-->
		<!--[if IE 6]>
<script type="text/javascript" src="lib/DD_belatedPNG_0.0.8a-min.js" ></script>
<script>DD_belatedPNG.fix('*');</script>
<![endif]-->
		<style type="text/css">
			.ui-sortable .panel-header {
				cursor: move
			}

			/* 菜单按钮样式 */
			.radiusNew {
				width: 16.66666667%;
				height: 50px;
				font-size: 25px;
				vertical-align: middle;
			}

			.maskWraper {
				float: left;
				margin-top: 30px;
			}

			.aboutClass {
				float: left;
				margin-top: 30px;
				margin-left: 40px;
			}

			/* 星星评分大小 */
			.size-S img {
				width: 16px;
				height: 16px
			}

			.mainBody {
				margin-left: 10%;
				width: 80%;
			}

			.theTr {
				height: 150px;
			}

			.thumbnail {
				width: 80%;
				height: 150px;
			}
		</style>
		<title>Hi，H-ui v3.1</title>

	</head>
	<body ontouchstart>
		<div class="sideBox">
			<ul class="nav navbar-nav pt-20">
				<li><a href="about.html">登录/注册</a></li>
				<li><a href="jiansuo.html">技术检索</a></li>
				<li><a href="about.html">关于我们</a></li>
				<li><a href="#">联系我们</a></li>
				<li><a href="#">隐私保护</a></li>
				<li><a href="#">免责声明</a></li>
				<li><a href="#">支付方式</a></li>
			</ul>
		</div>
		<div class="containBox">
			<div class="containBox-bg"></div>
			<header class="navbar-wrapper">
				<div class="navbar navbar-black navbar-fixed-top">
					<div class="container cl">
						<a class="logo navbar-logo hidden-xs" href="/aboutHui.shtml">C语言学习网</a>
						<span class="logo navbar-slogan hidden-xs">简单 &middot; 免费 &middot; 适合初学者</span>
						<a aria-hidden="false" class="nav-toggle Hui-iconfont visible-xs JS-nav-toggle" href="javascript:;">&#xe667;</a>
						<nav class="nav navbar-nav nav-collapse" role="navigation" id="Hui-navbar">
							<ul class="cl" style="float:right!important;_display:inline">
								<li>
									<a href="http://www.h-ui.net/Hui-overview.shtml" target="_blank">张三</a>
								</li>
								<li class="dropDown dropDown_hover">
									<a href="javascript:;" class="dropDown_A">控制台 <i class="Hui-iconfont">&#xe6d5;</i></a>
									<ul class="dropDown-menu menu radius box-shadow">
										<li>
											<a href="userRegisterPage.html" target="_blank">注册</a>
										</li>
										<li>
											<a href="javascritp:;" onClick="modaldemo()">登陆</a>
										</li>
									</ul>
								</li>

								<li>
									<a href="http://h-ui.net/aboutHui.shtml" target="_blank">联系我们</a>
								</li>
							</ul>
						</nav>
						<nav class="navbar-userbar hidden-xs"></nav>
					</div>
				</div>
			</header>
			<div class="wap-container">

				<div class="panel-body">
					<div class="btn-group banner" style="text-align:center;">
						<span class="btn btn-default radius radiusNew">课程学习</span>
						<span class="btn btn-default radius radiusNew">团队简介</span>
						<span class="btn btn-default radius radiusNew">名师风采</span>
						<span class="btn btn-default radius radiusNew">课堂作业</span>
						<span class="btn btn-default radius radiusNew">解惑答疑</span>
						<span class="btn btn-default radius radiusNew">附件下载</span>
					</div>
					<div id="others">
						<div class="mainBody">
							<h3>问题详情</h3>
							<table class="table table-border">
								<tr class="theTr">
									<td width="10%">
									</td>
									<td>
										<h3>
											这里边是问题相关的标题
										</h3>
										<div>
											这里边是问题的描述
										</div>
										<div style="float:right; margin-right: 10%; margin-top: 30px;">
											<a>回复</a>
										</div>
									</td>
								</tr>
								<tr class="theTr">
									<td colspan="10">
										<ul class="commentList">
											<li class="item cl"> <a href="#"><i class="avatar size-L radius"><img alt="" src="../../img/zlg.jpg"></i></a>
												<div class="comment-main">
													<header class="comment-header">
														<div class="comment-meta"><a class="comment-author" href="#">辉哥</a> 评论于
															<time title="2014年8月31日 下午3:20" datetime="2014-08-31T03:54:20">2014-8-31 15:20</time>
														</div>
													</header>
													<div class="comment-body">
														<p><a href="#">@某人</a> 你是猴子派来的救兵吗？</p>
														<div style="float:right; margin-right: 10%; margin-top: 30px;">
															<a onClick="showDeit()">回复</a>
														</div>
													</div>
													<div style="clear:both;"></div>
													 <!-- <div id="editor" class="modal fade middle"></div> --> 
												</div>
												
											</li>
											<li class="item cl"> <a href="#"><i class="avatar size-L radius"><img alt="" src="../../img/zlg.jpg"></i></a>
												<div class="comment-main">
													<header class="comment-header">
														<div class="comment-meta"><a class="comment-author" href="#">辉哥</a> 评论于
															<time title="2014年8月31日 下午3:20" datetime="2014-08-31T03:54:20">2014-8-31 15:20</time>
														</div>
													</header>
													<div class="comment-body">
														<p><a href="#">@某人</a> 你是猴子派来的救兵吗？</p>
														<div style="float:right; margin-right: 10%; margin-top: 30px;">
															<a onClick="showDeit()">回复</a>
														</div>
													</div>
												</div>
											</li>
											<li class="item cl"> <a href="#"><i class="avatar size-L radius"><img alt="" src="../../img/zlg.jpg"></i></a>
												<div class="comment-main">
													<header class="comment-header">
														<div class="comment-meta"><a class="comment-author" href="#">辉哥</a> 评论于
															<time title="2014年8月31日 下午3:20" datetime="2014-08-31T03:54:20">2014-8-31 15:20</time>
														</div>
													</header>
													<div class="comment-body">
														<p><a href="#">@某人</a> 你是猴子派来的救兵吗？</p>
														<div style="float:right; margin-right: 10%; margin-top: 30px;">
															<a onClick="showDeit()">回复</a>
														</div>
													</div>
												</div>
											</li>

										</ul>


									</td>

								</tr>

							</table>
						</div>
						<div style="clear:both;"></div>
					</div>
				</div>
				<footer class="footer mt-20">
					<div class="container">
						<nav class="footer-nav">
							<a target="_blank" href="http://www.h-ui.net/aboutHui.shtml">关于我们</a>
							<span class="pipe">|</span>
							<a target="_blank" href="http://www.h-ui.net/copyright.shtml">软件著作权</a>
							<span class="pipe">|</span>
							<a target="_blank" href="http://www.h-ui.net/juanzeng.shtml">感谢捐赠</a>
						</nav>
						<p>Copyright &copy;2013-2017 H-ui.net All Rights Reserved. <br>
							<a rel="nofollow" target="_blank" href="http://www.miitbeian.gov.cn/">京ICP备15015336号-1</a>
							<br>
							未经允许，禁止转载、抄袭、镜像<br>
							用心做站，做不一样的站</p>
					</div>
				</footer>
			</div>
		</div>
		<!--普通弹出层 --登陆页面-->
		<div id="modal-demo" class="modal fade middle" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content radius">
					<div class="modal-header">
						<h3 class="modal-title">登陆窗口</h3>
						<a class="close" data-dismiss="modal" aria-hidden="true" href="javascript:void();">×</a>
					</div>
					<div class="modal-body">
						<div class="panel-body">
							<form action="" method="post" class="form form-horizontal responsive" id="demoform">
								<div class="row cl">
									<label class="form-label col-xs-3">用户名：</label>
									<div class="formControls col-xs-8">
										<input type="text" class="input-text" placeholder="4~16个字符，字母/中文/数字/下划线" name="username" id="username">
									</div>
								</div>
								<div class="row cl">
									<label class="form-label col-xs-3">手机：</label>
									<div class="formControls col-xs-8">
										<input type="text" class="input-text" autocomplete="off" placeholder="手机" name="telephone" id="telephone">
									</div>
								</div>
								<div class="row cl">
									<label class="form-label col-xs-3">密码：</label>
									<div class="formControls col-xs-8">
										<input type="password" class="input-text" autocomplete="off" placeholder="密码" name="password" id="password">
									</div>
								</div>
								<div class="row cl">
									<label class="form-label col-xs-3">密码验证：</label>
									<div class="formControls col-xs-8">
										<input type="password" class="input-text" autocomplete="off" placeholder="密码" name="password2" id="password2">
									</div>
								</div>
								<div class="row cl">
									<div class="col-xs-8 col-xs-offset-3">
										<input class="btn btn-primary" type="submit" value="&nbsp;&nbsp;提交&nbsp;&nbsp;">
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- 弹出层  富文本编辑器 -->
		<div id="editorDiv" class="modal fade middle">
			<div class="modal-dialog">
					<div class="modal-content radius">
						<div class="modal-header">
							<h3 class="modal-title">回复评论</h3>
							<a class="close" data-dismiss="modal" aria-hidden="true" href="javascript:void();">×</a>
						</div>
						<div class="modal-body">
							<div id="editor" style=""></div>
						</div>
						<div class="modal-footer">
							<button class="btn btn-primary" onclick="getContent()">确定</button>
							<button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
						</div>
					</div>
				</div>
			
		</div>
		<!-- <div id="edit-dev" class="modal fade middle" tabindex="99" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div tabindex="-1" >
			    <h1>完整demo</h1>
			    <script id="editor1" type="text/plain" style="width:1024px;height:500px;"></script>
			</div>
			<div id="btns" tabindex="-1">
			    <div>
			        <button onclick="getAllHtml()">获得整个html的内容</button>
			        <button onclick="getContent()">获得内容</button>
			        <button onclick="setContent()">写入内容</button>
			        <button onclick="setContent(true)">追加内容</button>
			        <button onclick="getContentTxt()">获得纯文本</button>
			        <button onclick="getPlainTxt()">获得带格式的纯文本</button>
			        <button onclick="hasContent()">判断是否有内容</button>
			        <button onclick="setFocus()">使编辑器获得焦点</button>
			        <button onmousedown="isFocus(event)">编辑器是否获得焦点</button>
			        <button onmousedown="setblur(event)" >编辑器失去焦点</button>
			
			    </div>
			    <div>
			        <button onclick="getText()">获得当前选中的文本</button>
			        <button onclick="insertHtml()">插入给定的内容</button>
			        <button id="enable" onclick="setEnabled()">可以编辑</button>
			        <button onclick="setDisabled()">不可编辑</button>
			        <button onclick=" UE.getEditor('editor').setHide()">隐藏编辑器</button>
			        <button onclick=" UE.getEditor('editor').setShow()">显示编辑器</button>
			        <button onclick=" UE.getEditor('editor').setHeight(300)">设置高度为300默认关闭了自动长高</button>
			    </div>
			
			    <div>
			        <button onclick="getLocalData()" >获取草稿箱内容</button>
			        <button onclick="clearLocalData()" >清空草稿箱</button>
			    </div>
			
			</div>
		</div> -->
		<script type="text/javascript" src="../../hui/lib/jquery/1.9.1/jquery.min.js"></script>
		<script type="text/javascript" src="../../hui/lib/jquery-ui/1.9.1/jquery-ui.min.js"></script>
		<script type="text/javascript" src="../../hui/static/h-ui/js/H-ui.js"></script>
		<script type="text/javascript" src="../../hui/lib/jquery.SuperSlide/2.1.1/jquery.SuperSlide.min.js"></script>
		<script type="text/javascript" src="../../hui/lib/jquery.validation/1.14.0/jquery.validate.min.js"></script>
		<script type="text/javascript" src="../../hui/lib/jquery.validation/1.14.0/validate-methods.js"></script>
		<script type="text/javascript" src="../../hui/lib/jquery.validation/1.14.0/messages_zh.min.js"></script>
		<!-- 富文本编辑器相关依赖 -->
		<script type="text/javascript" charset="utf-8" src="../../utf8-jsp/ueditor.config.js"></script>
		<script type="text/javascript" charset="utf-8" src="../../utf8-jsp/ueditor.all.min.js"> </script>
		<script type="text/javascript" charset="utf-8" src="../../utf8-jsp/lang/zh-cn/zh-cn.js"></script>
		<!--  -->
		<script>
			UE.getEditor('editor').setHide();
			// UE.getEditor('editor').setHeight(300)
			// 默认隐藏
			// ue.setHide()
			//hover效果
			$(function() {
				$('.maskWraper').Huihover();
			});
			//弹窗
			function modaldemo() {
				$("#modal-demo").modal("show");
			}
			//弹窗
			function showDeit() {
				clearLocalData();
				UE.getEditor('editor').setContent('');
				var zz = '<a href="#">@某人</a>	';
				UE.getEditor('editor').setContent(zz);
				$("#editorDiv").modal("show");
				// UE.getEditor('editor').setShow();
			}
			/* 编辑器相关 */
			// var ue = UE.getEditor('editor');
			
			
			function isFocus(e){
			    alert(UE.getEditor('editor').isFocus());
			    UE.dom.domUtils.preventDefault(e)
			}
			function setblur(e){
			    UE.getEditor('editor').blur();
			    UE.dom.domUtils.preventDefault(e)
			}
			function insertHtml() {
			    var value = prompt('插入html代码', '');
			    UE.getEditor('editor').execCommand('insertHtml', value)
			}
			function createEditor() {
			    enableBtn();
			    UE.getEditor('editor');
			}
			function getAllHtml() {
			    alert(UE.getEditor('editor').getAllHtml())
			}
			function getContent() {
			    var arr = [];
			    arr.push("使用editor.getContent()方法可以获得编辑器的内容");
			    arr.push("内容为：");
			    arr.push(UE.getEditor('editor').getContent());
			    alert(arr.join("\n"));
			}
			function getPlainTxt() {
			    var arr = [];
			    arr.push("使用editor.getPlainTxt()方法可以获得编辑器的带格式的纯文本内容");
			    arr.push("内容为：");
			    arr.push(UE.getEditor('editor').getPlainTxt());
			    alert(arr.join('\n'))
			}
			function setContent(isAppendTo) {
			    var arr = [];
			    arr.push("使用editor.setContent('欢迎使用ueditor')方法可以设置编辑器的内容");
			    UE.getEditor('editor').setContent('欢迎使用ueditor', isAppendTo);
			    alert(arr.join("\n"));
			}
			function setDisabled() {
			    UE.getEditor('editor').setDisabled('fullscreen');
			    disableBtn("enable");
			}
			
			function setEnabled() {
			    UE.getEditor('editor').setEnabled();
			    enableBtn();
			}
			
			function getText() {
			    //当你点击按钮时编辑区域已经失去了焦点，如果直接用getText将不会得到内容，所以要在选回来，然后取得内容
			    var range = UE.getEditor('editor').selection.getRange();
			    range.select();
			    var txt = UE.getEditor('editor').selection.getText();
			    alert(txt)
			}
			
			function getContentTxt() {
			    var arr = [];
			    arr.push("使用editor.getContentTxt()方法可以获得编辑器的纯文本内容");
			    arr.push("编辑器的纯文本内容为：");
			    arr.push(UE.getEditor('editor').getContentTxt());
			    alert(arr.join("\n"));
			}
			function hasContent() {
			    var arr = [];
			    arr.push("使用editor.hasContents()方法判断编辑器里是否有内容");
			    arr.push("判断结果为：");
			    arr.push(UE.getEditor('editor').hasContents());
			    alert(arr.join("\n"));
			}
			function setFocus() {
			    UE.getEditor('editor').focus();
			}
			function deleteEditor() {
			    disableBtn();
			    UE.getEditor('editor').destroy();
			}
			function disableBtn(str) {
			    var div = document.getElementById('btns');
			    var btns = UE.dom.domUtils.getElementsByTagName(div, "button");
			    for (var i = 0, btn; btn = btns[i++];) {
			        if (btn.id == str) {
			            UE.dom.domUtils.removeAttributes(btn, ["disabled"]);
			        } else {
			            btn.setAttribute("disabled", "true");
			        }
			    }
			}
			function enableBtn() {
			    var div = document.getElementById('btns');
			    var btns = UE.dom.domUtils.getElementsByTagName(div, "button");
			    for (var i = 0, btn; btn = btns[i++];) {
			        UE.dom.domUtils.removeAttributes(btn, ["disabled"]);
			    }
			}
			
			function getLocalData () {
			    alert(UE.getEditor('editor').execCommand( "getlocaldata" ));
			}
			
			function clearLocalData () {
			    UE.getEditor('editor').execCommand( "clearlocaldata" );
			}
		</script>
	</body>
</html>
<!--H-ui前端框架提供前端技术支持 h-ui.net @2017-01-01 -->
